.trabalhos {
  max-width: 1024px;
  margin: 0 auto 0 auto;
}
.trabalho__item {
  background-color: #D9D9D9;
}

.trabalhos__container {
  width: 264px;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 264px;
  grid-template-rows: 158px 30px 158px 30px 158px 30px;
}
.trabalho__texto {
  width: 265px;
  margin: 4px auto 0 auto;
  font-size: 12px;
  text-align: left;
}
@media screen and (min-width: 768px) {

  .trabalhos {
    width: 582px;
    margin: 80px auto 0 auto;
  }
  .trabalhos__container {
    width: 582px;
    display: grid;
    grid-template-columns: 285px 285px;
    grid-template-rows: 289.5px 20px 289.5px 20px;
    gap: 15px;
    margin: 0 auto  0 auto;
   
  }
  .trabalho__principal {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end: 5;

  }
  .trabalho__principal__foto__1 {
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start:5;
    grid-row-end:5;
  }
  .trabalho__secundario__um {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .trabalho__principal__foto__2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .trabalho__secundario__dois {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .trabalho__principal__foto__3{
    grid-column-start:2;
    grid-row-end:2;
    grid-row-start: 5;
    grid-row-end: 5;
  }
 
}
.trabalhos > h2 {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.trabalhos__titulo {
  margin: 0 auto;
}
.item__foto {
  background-color: #d9d9d9;
}
.trabalhos__primeiraFoto > h3 {
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
}
.trabalhos__primeiraFoto > p {
  width: 11rem;
  font-size: 0.75rem;
}
