.cadastro > h1 {
  margin: 3.38rem 0 1.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.cadastro__container {
  margin: 0 auto 2.5rem auto;
  width: 347px;
  height: 425px;
  border-radius: 20px;
  background: #d9d9d9;
}

form {
  width: 18.75rem;
  margin: 2.937rem auto 5.937rem auto;
  padding-top: 3.937rem;

  /*padding: 2.937rem 0.687rem 5.937rem 0.687rem;*/
}

form div + div {
  margin-top: 10px;
}

.cadastro__campos {
  display: flex;
  flex-direction: column;
}
form > div > label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
form > div > input {
  width: 18.25rem;
  height: 2.125rem;
  padding-left: 10px;
  border-radius: 10px;
  color: #a5a5a1;
}
